<div class="container mt-1">
  <div class="row">
    <div class="col">
      <h1>
        Online Contact Application
        <a class="btn btn-success ms-5" routerLink="add-contact">
          <i class="fa-solid fa-user-plus text-light"></i>
          Add New
        </a>
      </h1>
      <p class="mt-3" style="text-align: justify">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt aliquid
        nemo, rem dolor eaque assumenda minus quidem soluta officiis vitae ab
        totam cupiditate voluptatibus et deleniti quaerat nesciunt dolorum
        laboriosam!
      </p>
      <p>
        {{ dateDetails | date : "mediumTime" }}
      </p>
      <div class="row mt-5">
        <div class="col-md-6">
          <input
            type="text"
            placeholder="Search Contact here!"
            class="form-control"
            [(ngModel)]="searchTerm"
          />
        </div>
        <div class="col-md-6">
          <a class="btn btn-primary">Search</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-4 text-center">
    <!-- spinner -->
    <div
      *ngIf="isLoading"
      class="mt-5 d-flex align-items-center justify-content-center"
    >
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden me-2">Loading...</span>
      </div>
      <span class="ms-3">Loading...</span>
    </div>
  </div>
  <div class="col-4">
    <div *ngIf="errorMsg" class="alert alert-danger mt-5" role="alert">
      {{ errorMsg }}
    </div>
    <div class="col-4"></div>
  </div>

  <div
    *ngIf="
      (allContacts | filter : searchTerm : 'name').length == 0 && !isLoading
    "
    class="d-flex justify-content-center align-items-center mt-5"
  >
    <p class="fw-bold">Contact not found!</p>
  </div>

  <div *ngIf="!isLoading" class="container mt-5">
    <div class="row">
      <div
        class="col-md-6 mb-3"
        *ngFor="let contact of allContacts | filter : searchTerm : 'name'"
      >
        <div class="card">
          <div class="card-body">
            <div class="row align-items-center">
              <!-- Image -->
              <div class="col-md-3 text-center">
                <img class="contactImage" [src]="contact.photo" alt="contact" />
              </div>

              <!-- Content -->
              <div class="col-md-7 contactDetails">
                <ul style="list-style: none">
                  <li>
                    Name: <span> {{ contact.name }} </span>
                  </li>
                  <li>
                    Mobile: <span> {{ contact.mobile }} </span>
                  </li>
                  <li>
                    Email: <span> {{ contact.email }} </span>
                  </li>
                </ul>
              </div>

              <!-- actions -->
              <div
                class="col-md-2 d-flex flex-column justify-content-center align-items-center"
              >
                <button
                  class="btn btn-success"
                  routerLink="view-contact/{{ contact.id }}"
                >
                  View
                </button>
                <button
                  class="btn btn-warning"
                  routerLink="edit-contact/{{ contact.id }}"
                >
                  Edit
                </button>
                <button
                  class="btn btn-danger"
                  (click)="deleteContact(contact.id)"
                >
                  Delete
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
